<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cluedo</title>
    <link rel="stylesheet" href="css/mvp.css">
</head>
<body>
    <main>
        <header>
            <h1>Cluedo data lists:</h1>
        </header>
        <h2>The persons</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Form of adress</th>
                <th>colour</th>
                <th>age</th>

            </tr>
            </thead>
            <tbody>
                <tr th:each="person : ${persons}">
                    <td th:text="${person.formOfAdress}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.colour}"></td>
                    <td th:text="${person.age}"></td>
                </tr>
                <!--

                !-->
            </tbody>
        </table>
        <h2>The weapons</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Damage</th>
                <th>Colour</th>
                <th>Range</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="weapon : ${weapons}">
                <td th:text="${weapon.name}"></td>
                <td th:text="${weapon.damage}"></td>
                <td th:text="${weapon.colour}"></td>
                <td th:text="${weapon.range}"></td>
            </tr>
            </tbody>

        </table>
        <h2>The rooms</h2>
        <p>To be done</p>
    </main>
    <footer>
        <hr>
        <p>
            <small>(c) D.Bischof</small>
        </p>
    </footer>
</body>
</html>